In [1]:
import pandas as pd
df = pd.read_excel('/kaggle/input/all-minilm-norm-dataset/all-miniLM-L12-v2_norm-dataset.xlsx')

In [2]:
df.head()

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,job_categories,designation,norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max
0,ACCEPTED,2.00,3.6,4.14,15,Senior Sales Executive,Sales Executive,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,NaN,0.5,3.0,3.0,5.0
1,REJECTED,1.42,6.0,6.90,15,Customer Service Associate|||Senior Business D...,Customer Development Associate,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,NaN,0.5,3.0,3.0,5.0
2,ACCEPTED,11.00,3.0,4.00,1,Marketing executive,Marketing Executive,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,NaN,0.5,3.0,3.0,5.0
3,ACCEPTED,2.50,5.0,5.75,15,Android Developer,Android Developer,Frontend Developer,React Native Developer,React Native Developer,NaN,2.0,4.0,6.0,10.0
4,ACCEPTED,4.08,7.0,8.05,15,Android Mobile Application Developer|||Android...,React Native Developer,Frontend Developer,React Native Developer,React Native Developer,NaN,2.0,4.0,6.0,10.0

## Label Encoding

In [3]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()

# Encoding 'norm_profile' column
df['encoded_norm_profile'] = encoder.fit_transform(df['norm_profile'])

# Encoding 'norm_designation' column
df['encoded_norm_designation'] = encoder.fit_transform(df['norm_designation'])

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.3
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [4]:
df.sample(10)

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,job_categories,designation,norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max,encoded_norm_profile,encoded_norm_designation
9400,ACCEPTED,4.00,2.60,3.50,15,Senior Sales Executive,Sales Executive,Inside Sales (Outbound),Lab Advisor,Laboratory Supervisor,NaN,1.0,5.0,3.0,4.0,3507,472
17575,ACCEPTED,5.42,4.50,6.50,30,Assistant Manager 2|||Relationship Executive||...,Assistant Relationship Manager,Finance,RM/AM - DSA,RMA Manager,NaN,3.0,4.0,6.0,8.0,400,644
4699,ACCEPTED,8.00,16.05,18.46,30,"Manager, Ocean Freight Procurement , Customer ...",Offshore Manager,Business development,Regional Manager Ocean Freight North,Regional Fleet Manager,NaN,5.0,15.0,15.0,25.0,2780,657
216,ACCEPTED,1.10,3.75,6.00,15,QA Engineer,QA/QC Engineer,QA Engineer,Quality Assurance Engineer- Mobile App Testing,Mobile Quality Assurance Tester,NaN,2.0,4.0,3.6,5.0,3163,535
13637,ACCEPTED,2.50,3.00,3.45,8,Senior HR Consultant|||Senior HR Executive,HRMS Consultant,HR generalist,Human Resource,Human Resources Professional,NaN,2.0,5.0,4.0,6.0,2000,405
8648,ACCEPTED,3.00,1.80,3.00,7,Customer Executive (Inside Sales & Operation),Customer Sales Executive,Client operations,Front Office- Senior Specialist or Supervisor,Front Office Supervisor,NaN,2.0,5.0,4.0,8.0,1193,350
326,ACCEPTED,7.00,4.50,5.50,15,Senior Relationship Manager,Executive Relationship Manager,"Client operations ,Operations",Relationship manager - Indian,Relationship Manager,NaN,1.0,10.0,4.5,6.5,1715,673
7255,ACCEPTED,2.50,3.00,4.00,30,3D Graphic Designer,3D Graphic Designer,Marketing,Animator,Animator,NaN,2.0,3.0,3.0,3.6,15,40
11537,REJECTED,5.17,11.50,15.00,15,Test Engineer,Test Engineer,Data Engineering,Data Engineer,Data Engineer,NaN,3.0,7.0,15.0,25.0,4208,231
478,REJECTED,5.00,20.00,23.00,15,Senior Software Engineer,Advanced Software Engineer,Full stack developer,Tech Lead/Engineering Manager,Technical Lead/Manager,NaN,4.0,8.0,25.0,35.0,188,795

In [5]:
# Reorder columns
columns_reordered = ['status', 'experience', 'present_ctc', 'expected_ctc', 'notice_period',
                     'candidate_profiles','norm_profile','encoded_norm_profile', 'job_categories', 
                     'designation', 'norm_designation','encoded_norm_designation','Relevant', 'exp_min', 'exp_max', 'ctc_fixed_min', 
                     'ctc_fixed_max']

# Reindex the DataFrame with the reordered columns
df = df.reindex(columns=columns_reordered)

df.head()  # Displaying the reordered DataFrame

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,encoded_norm_profile,job_categories,designation,norm_designation,encoded_norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max
0,ACCEPTED,2.00,3.6,4.14,15,Senior Sales Executive,Sales Executive,3507,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
1,REJECTED,1.42,6.0,6.90,15,Customer Service Associate|||Senior Business D...,Customer Development Associate,1164,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
2,ACCEPTED,11.00,3.0,4.00,1,Marketing executive,Marketing Executive,2590,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
3,ACCEPTED,2.50,5.0,5.75,15,Android Developer,Android Developer,239,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0
4,ACCEPTED,4.08,7.0,8.05,15,Android Mobile Application Developer|||Android...,React Native Developer,3228,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0

In [6]:
def fix_ctc_values(df1):
    def fix_ctc_lpa(x):
        if x > 1000:
            return x/100000
        else:
            return x

    df['expected_ctc'] = df['expected_ctc'].apply(fix_ctc_lpa)
    df['present_ctc'] = df['present_ctc'].apply(fix_ctc_lpa)
    return df1

fix_ctc_values(df)

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,encoded_norm_profile,job_categories,designation,norm_designation,encoded_norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max
0,ACCEPTED,2.00,3.60,4.14,15,Senior Sales Executive,Sales Executive,3507,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
1,REJECTED,1.42,6.00,6.90,15,Customer Service Associate|||Senior Business D...,Customer Development Associate,1164,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
2,ACCEPTED,11.00,3.00,4.00,1,Marketing executive,Marketing Executive,2590,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
3,ACCEPTED,2.50,5.00,5.75,15,Android Developer,Android Developer,239,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0
4,ACCEPTED,4.08,7.00,8.05,15,Android Mobile Application Developer|||Android...,React Native Developer,3228,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21477,ACCEPTED,5.50,8.45,11.00,15,Area Sales Executive|||Sales Executive|||Sales...,Area Sales Executive,303,Business development,Team Lead (Mumbai),Team Lead,786,NaN,3.0,5.5,7.0,11.0
21478,ACCEPTED,3.67,6.00,8.00,15,Team Lead,Team Lead,4041,Business development,Team Lead (Mumbai),Team Lead,786,NaN,3.0,5.5,7.0,11.0
21479,ACCEPTED,5.50,6.65,9.00,1,Area Sales Manager|||Business Development Exec...,Sales Executive/Business Development Manager,3510,Business development,Team Lead (Mumbai),Team Lead,786,NaN,3.0,5.5,7.0,11.0
21480,ACCEPTED,5.00,6.20,8.50,1,Business Development Associate|||Business Deve...,Sales and Business Development Associate,3573,Business development,Team Lead (Mumbai),Team Lead,786,NaN,3.0,5.5,7.0,11.0
21481,ACCEPTED,2.00,4.35,6.00,30,Business Development Executive|||Business deve...,Marketing and Business Development Executive,2621,Business development,Key Account Manager (Gurgaon),Key Account Manager,470,NaN,0.6,2.5,4.5,6.0

In [7]:
df.head()

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,encoded_norm_profile,job_categories,designation,norm_designation,encoded_norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max
0,ACCEPTED,2.00,3.6,4.14,15,Senior Sales Executive,Sales Executive,3507,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
1,REJECTED,1.42,6.0,6.90,15,Customer Service Associate|||Senior Business D...,Customer Development Associate,1164,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
2,ACCEPTED,11.00,3.0,4.00,1,Marketing executive,Marketing Executive,2590,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,0.5,3.0,3.0,5.0
3,ACCEPTED,2.50,5.0,5.75,15,Android Developer,Android Developer,239,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0
4,ACCEPTED,4.08,7.0,8.05,15,Android Mobile Application Developer|||Android...,React Native Developer,3228,Frontend Developer,React Native Developer,React Native Developer,648,NaN,2.0,4.0,6.0,10.0

In [8]:
from sklearn.preprocessing import StandardScaler

# Define the numeric features and scale them
numeric_features = ['experience', 'present_ctc', 'expected_ctc', 'notice_period',
                    'exp_min', 'exp_max', 'ctc_fixed_min', 'ctc_fixed_max']

scaler = StandardScaler()
scaled_numeric_data = scaler.fit_transform(df[numeric_features])
scaled_df = pd.DataFrame(scaled_numeric_data, columns=numeric_features)

# Select non-numeric features for concatenation
non_numeric_features = ['status', 'candidate_profiles', 'norm_profile', 
                        'encoded_norm_profile','job_categories',
                        'designation', 'norm_designation', 
                        'encoded_norm_designation','Relevant']

# Concatenate the scaled numeric data with the remaining columns
final_df = pd.concat([scaled_df, df[non_numeric_features]], axis=1)

# Display the updated DataFrame
final_df.head()

,experience,present_ctc,expected_ctc,notice_period,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max,status,candidate_profiles,norm_profile,encoded_norm_profile,job_categories,designation,norm_designation,encoded_norm_designation,Relevant
0,-0.805684,-0.640450,-0.666235,-0.025510,-0.959898,-1.011108,-0.008545,-0.008783,ACCEPTED,Senior Sales Executive,Sales Executive,3507,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN
1,-0.976805,-0.363284,-0.448768,-0.025510,-0.959898,-1.011108,-0.008545,-0.008783,REJECTED,Customer Service Associate|||Senior Business D...,Customer Development Associate,1164,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN
2,1.849640,-0.709742,-0.677266,-0.039698,-0.959898,-1.011108,-0.008545,-0.008783,ACCEPTED,Marketing executive,Marketing Executive,2590,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN
3,-0.658166,-0.478770,-0.539379,-0.025510,-0.228968,-0.683806,-0.007812,-0.007867,ACCEPTED,Android Developer,Android Developer,239,Frontend Developer,React Native Developer,React Native Developer,648,NaN
4,-0.192009,-0.247799,-0.358156,-0.025510,-0.228968,-0.683806,-0.007812,-0.007867,ACCEPTED,Android Mobile Application Developer|||Android...,React Native Developer,3228,Frontend Developer,React Native Developer,React Native Developer,648,NaN

In [9]:
# Reorder the columns as specified
desired_columns_order = ['status', 'experience', 'present_ctc', 'expected_ctc', 'notice_period',
                         'candidate_profiles', 'norm_profile', 'encoded_norm_profile',
                         'job_categories', 'designation', 'norm_designation', 'encoded_norm_designation',
                         'Relevant', 'exp_min', 'exp_max', 'ctc_fixed_min', 'ctc_fixed_max']

# Rearrange the columns of final_df
final_df = final_df[desired_columns_order]

# Display the DataFrame with reordered columns
final_df.head()

,status,experience,present_ctc,expected_ctc,notice_period,candidate_profiles,norm_profile,encoded_norm_profile,job_categories,designation,norm_designation,encoded_norm_designation,Relevant,exp_min,exp_max,ctc_fixed_min,ctc_fixed_max
0,ACCEPTED,-0.805684,-0.640450,-0.666235,-0.025510,Senior Sales Executive,Sales Executive,3507,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,-0.959898,-1.011108,-0.008545,-0.008783
1,REJECTED,-0.976805,-0.363284,-0.448768,-0.025510,Customer Service Associate|||Senior Business D...,Customer Development Associate,1164,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,-0.959898,-1.011108,-0.008545,-0.008783
2,ACCEPTED,1.849640,-0.709742,-0.677266,-0.039698,Marketing executive,Marketing Executive,2590,"Inside Sales (Outbound),Sales",Inside Sales,Inside Sales Professional,430,NaN,-0.959898,-1.011108,-0.008545,-0.008783
3,ACCEPTED,-0.658166,-0.478770,-0.539379,-0.025510,Android Developer,Android Developer,239,Frontend Developer,React Native Developer,React Native Developer,648,NaN,-0.228968,-0.683806,-0.007812,-0.007867
4,ACCEPTED,-0.192009,-0.247799,-0.358156,-0.025510,Android Mobile Application Developer|||Android...,React Native Developer,3228,Frontend Developer,React Native Developer,React Native Developer,648,NaN,-0.228968,-0.683806,-0.007812,-0.007867

In [10]:
# Encode the target variable into numeric format
le = LabelEncoder()
y = df['status']
y = le.fit_transform(y)

# Reverse the encoding
y = 1 - y

# Reshape y as a 1-dimensional array
y = y.ravel()

In [31]:
from xgboost import XGBClassifier

# Initialize the XGBoost classifier
xgb = XGBClassifier(n_estimators=3,
                         max_depth=5,
                         learning_rate=0.125,
                         random_state=0)

# Define the input features and output label
input_features = ['experience', 'present_ctc', 'expected_ctc',
                  'notice_period', 'encoded_norm_profile', 
                  'encoded_norm_designation', 'exp_min', 'exp_max', 
                  'ctc_fixed_min', 'ctc_fixed_max']

X = df[input_features]

In [32]:
from sklearn.model_selection import cross_val_score

def mean_accuracy(clf, X, y, cv=10):
    scores = cross_val_score(clf, X, y, cv=cv, scoring='accuracy')
    mean_acc = scores.mean()
    return mean_acc

mean_accuracy(xgb, X, y, cv=10)

0.6032493568096721

In [33]:
# Filter the DataFrame for rows where status is 'ACCEPTED'
accepted_profiles = df[df['status'] == 'ACCEPTED']

# Group by norm_designation and aggregate norm_profile values into a list
profiles_by_designation = accepted_profiles.groupby('norm_designation')['norm_profile'].agg(list).reset_index()

# Display the table
profiles_by_designation.head()

          norm_designation                                       norm_profile
0           .NET Developer  [Software Developer, Software Engineer, Softwa...
1  .NET Software Developer  [Account Development Manager, Software Enginee...
2   .NET/Angular Developer  [Full Stack Developer, Software Engineer, Soft...
3          ABAP Consultant                             [Associate Consultant]
4                 AEM Lead  [Advanced Services Engineer, Product Executive...

In [34]:
# Assuming 'profiles_by_designation' contains the table with norm_profile against norm_designation

# Define the file path for the Excel file
file_path = 'profiles_by_designation.xlsx'

# Export the table to an Excel file
profiles_by_designation.to_excel(file_path, index=False)

print(f"Table exported to {file_path}")

Table exported to profiles_by_designation.xlsx